@import 'helpers/bourbon/bourbon';
@import 'partials/animations';
@import 'partials/variables';
@import 'partials/disregard';

html, body {
  //background: #F7F7F7;

  //color: $default-font-color;
  //font-size: $default-font-size;
  //font-family: $default-font-family;
}

#mobileFrame {
  position: relative;
  overflow: hidden;
  @include size( 414px 736px );
  margin: 2em auto 0;
  background: #EEE;
}

.tracking {
  color: $default-font-color;
  font-size: $default-font-size;
  font-family: $default-font-family;

  @include position (absolute, null 0 0 0 );
  height: 8em;

  transition: height $transition-speed ease-in-out;

  &.open {
    height: $modal-height;

    transition: height $transition-speed-slow ease-in-out;

    .tracking-tab {
      display: none;
    }

    .tracking-modal {
      top: 2em;
      height: 100%;
      border-radius: 16px 16px 0 0;

      box-shadow: $shadow-rule-focus;

      transition: height $transition-speed ease-in-out, box-shadow $transition-speed ease-in-out;

      .tracking-modal-container {
        .tracking-modal-loading-text {
          display: none;
        }
        .tracking-modal-elements {
          display: block;
        }
      }
    }
  }

  &.loading {
    .tracking-container {
      .tracking-notifier {
        .tracking-button:before {
          // pulsating ring
          @include position( relative, 6px null null 6px );
          z-index: 0;
          display: block;
          @include size( 61px );
          border: 1px solid $orange;
          border-radius: 40px;

          opacity: 0;
          content: '';

          animation: pulsate 2s ease-out;
          animation-iteration-count: infinite;
        }

        .tracking-tab {
          width: 0;
          padding-right: 0;

          opacity: 0;

          transition: width $transition-speed ease-in-out, padding-right $transition-speed ease-in-out, opacity $transition-speed ease-in-out;
        }
      }

      .tracking-modal {
        top: 2em;
        height: 100%;
        border-radius: 16px 16px 0 0;

        box-shadow: $shadow-rule;

        transition: top $transition-speed ease-in-out;
        transition-delay: 500ms;
      }
    }
  }


  .tracking-container {
    position: relative;
    @include size( 100% );

    .tracking-notifier {
      .tracking-button {
        @include position( absolute, 10px 20px null null );
        z-index: 1;
        @include size( 75px );
        background: $orange;
        background-image: url( '../imgs/tracking-icon.png' );
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 36px auto;
        border: 4px solid $white;
        border-radius: 50%;

        color: white;
        cursor: pointer;
        box-shadow: $shadow-rule;
      }

      .tracking-tab {
        @include position( absolute, 18px 70px null null );
        z-index: 0;
        overflow: hidden;
        padding: 1em 3em 1em 1em;
        background: $white;
        border-radius: 16px;

        color: $black;
        white-space: nowrap;
        opacity: 1;
        box-shadow: $shadow-rule;

        .tracking-message {
          text-align: right;

          .tracking-message-title {
            font-size: 1.2em;
          }
          .tracking-message-subtext {
            color: $grey;
            font-size: 0.85em;
          }
        }
      }
    }
  }


  .tracking-modal {
    @include position( absolute, 18em 5px 0 5px );
    z-index: 0;
    height: 0;
    background: $white;
    border-radius: 16px 16px 0 0;

    box-shadow: $shadow-rule;

    .tracking-modal-container {
      padding: 1em;

      .tracking-modal-elements {
        display: none;
      }
    }

    // Elements
    .order-details {
      .order-number-label {
        margin-bottom: -0.5em;

        color: $grey;
        text-transform: uppercase;
      }

      .order-number {
        margin-bottom: 0.1em;

        color: $red;
        font-size: 2.5em;
      }

      .subtext {
        color: $grey;
      }

      .emphasis-green {
        color: $green;
        font-weight: 400;
      }
      .emphasis-orange {
        color: $orange;
        font-weight: 400;
      }
      .emphasis-number {
        margin-right: 0.1em;

        font-size: 1.4em;
      }

      .order-ready-time {
        margin: 0.5em 0;
        padding: 5px;
        font-size: 16px;
        background: $off-white;

        .stopwatch {
          @include position( relative, 2px null null null );
          width: 18px;
        }
      }

      .order-progress-bar {
        margin: 0.5em 0;

        .order-progress-bar-container {
          overflow: hidden;
          height: 1em;
          background: $off-white;
          border: 1px solid $off-white;
          border-radius: 2px;

          .order-progress-bar-indicator {
            @include size ( 40% 100% );
            @include transition( 0.5s width );
            background: $green;
            border-radius: 1px;
          }
        }
      }

      hr.hor-ruley {
        margin: 1.2em 0;
        border: 1px dashed $off-white;
        border-width: 0 0 1px 0;
        background: none;
        height: 0;
      }

      .trasportation-select {
        cursor: pointer;
        position: relative;
        padding: 1em 0 0.25em;
        font-size: 20px;
        text-align: center;

        .caret-icon-down {
          margin-right: 0.7em;
          width: 10px;
          @include position( relative, 0 null null null );
        }
        .transport-icon-walking, .transport-icon-driving {
          @include position( relative, 8px null null null ); 
          @include size( 33px );
          margin-right: 0.5em;
        }

        &.driving {
          & > .walking { display: none; }
        }
        &.walking {
          & > .driving { display: none; }
        }

        &.open {
          & > .walking, & > .driving {
            filter: blur( 1px );
          }
          .transport-dropdown {
            display: block;
          }
        }

        .transport-dropdown {
          display: none;
          @include position( absolute, -0.5em -0.5em null -0.5em );
          z-index: 1;
          padding: 0.5em 0;
          background: rgba( $white, 0.95 );
          border: 1px solid $off-white;
          box-shadow: $shadow-rule;
          
          .transport-option {
            padding: 0.5em 0;
          }
        }
      }

      .status-tracker {
        .status-tracker-container {
          margin-left: 0.5em;
          border-left: 1px solid $off-white;

          .order-status {
            position: relative;
            margin-left: -11px;
            padding: 0 0 1em 30px;

            &::before {
              @include position( absolute, 0 null 100% 10px );
              @include transition( 0.5s all );
              transition-delay: 0.5s;
              border-left: 1px solid $green;
              content: '';
              opacity: 0;
            }

            &:last-child {
              padding-bottom: 0;
            }

            .status-indicator {
              @include position( absolute, 1px 0 0 0 );
              @include size( 13px );
              background-color: $off-white;
              border: 4px solid $white;
              border-radius: 50%;
            }
            .status-title {
              font-size: 16px;
            }
            .status-body {
              @include transition( 0.5s max-height );
              max-height: 0;
              overflow: hidden;

              p:first-child {
                margin-top: 0;
              }

              ul.item-carousel {
                display: block;
                overflow: hidden;
                overflow-x: auto;
                list-style: none;
                height: 115px;
                margin: 0 -1em 0 0;
                padding: 0 1em 0 0;

                white-space: nowrap;

                li.item {
                  display: inline-block;
                  max-width: 251px;
                  background: $white;

                  .item-container {
                    position: relative;
                    padding: 1em 1em 1em calc(64px + 0.5em);
                    border: 1px solid $off-white;
                    border-radius: 2px;

                    .item-image {
                      @include position( absolute, 0 0 0 0.25em );
                      @include size( 64px );
                      background-image: url( '../imgs/item-img.png' );
                      background-position: center;
                    }

                    .item-price {
                      font-weight: 600;

                      @extend .ellipsis;
                    }
                    .item-title {
                      color: $grey;

                      @extend .ellipsis;
                    }
                  }

                  button.item-button {
                    width: 100%;
                    margin-top: 0.25em;
                    padding: 0.5em 0;
                    background: $red;
                    border-radius: 2px;

                    text-align: center;
                    color: $white;
                    font-size: $default-font-size;

                    &:hover, &:active, &:focus {
                      background-color: darken( $red, 10 );
                    }
                  }
                }
              }

              .select-parking-spot {
                display: flex;
                margin: -5px;
                flex-wrap: wrap;
                align-items: stretch;

                label.parking-spot {
                  position: relative;
                  width: calc( 50% - 10px );
                  margin: 3px;

                  & > input[type=radio] {
                    @include position( absolute, 0 null 0 null );
                    @include size( 0px );
                    visibility: hidden;

                    &:checked + div {
                      background-image: radial-gradient( circle at top, darken( #FBD249, 10% ) 0%, darken( #F5A623, 10% ) 100%);
                      border: 2px solid darken( #F5A623, 10% );
                    }
                  }

                  & > div {
                    height: 121px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: #FFFFFF;
                    background-image: radial-gradient( circle at top, #FBD249 0%, #F5A623 100%);
                    border: 2px solid #F5A623;
                    border-radius: 1px;
                    text-align: center;
                    font-size: 50px;
                    line-height: 50px;
                    font-weight: bold;

                    small {
                      display: block;
                      font-size: 14px;
                      line-height: 1em;
                    }
                  }

                  &:hover, &:active, &:focus {
                    cursor: pointer;

                    & > div {
                      background-image: radial-gradient( circle at top, darken( #FBD249, 10% ) 0%, darken( #F5A623, 10% ) 100%);
                      border: 2px solid darken( #F5A623, 10% );
                    }
                  }
                }
              }
            }

            &.status-ready {
              &.driving {
                .driving-instructions {
                  display: block;
                }
                .walking-instructions {
                  display: none;
                }
              }
              &.walking {
                .driving-instructions {
                  display: none;
                }
                .walking-instructions {
                  display: block;
                }

                .barcode-container {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  padding: 10px;
                  text-align: center;
                  border: 2px dashed #EEEEEE;

                  img {
                    height: 60px;
                    max-width: 70%;
                  }

                  .barcode-value {
                    margin-top: -5px;
                    font-size: 14px;
                    font-weight: bold;
                  }
                }
              }
            }

            &.active {
              .status-body {
                min-height: 192px;
                max-height: 1000px;
              }

              .status-indicator {
                background-color: $orange;
                &:before {
                  // pulsating ring
                  @include position( relative, -1px null null -1px );
                  z-index: 0;
                  display: block;
                  @include size( 13px );
                  border: 1px solid $orange;
                  border-radius: 40px;

                  opacity: 0;
                  content: '';

                  animation: pulsate 1.5s ease-out;
                  animation-iteration-count: infinite;
                }
              }
            }
            &.complete {
              &::before {
                opacity: 1;
                bottom: 0;
              }

              .status-indicator {
                background-color: $green;
              }
            }
          }
        }
      }
    }
  }
}



// Helpers
.ellipsis {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}
